# Django defaults
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# PyCharm / IDE
.idea/
.vscode/

# Environment variables
.env

# Virtual environment
.venv/
node_modules/
.next/

# Static files
staticfiles/

# Python egg
*.egg-info/
dist/
build/private_key.pem
public_key.pem
public_key.pem
*.pyc
